<div class="edi-topic">
 <h3>Create topic</h3>
 
   <div class="topic-rules">
     <p>topic Guidelines</p>
     <ol>
       <li class="topic-rules-item">ex. <em><strong> Marin County - China Camp State Park </strong></em></li>
       <li class="topic-rules-item">only state facts, please leave opinions to yourself.</li>
     </ol>
   </div>
   
   <div class="topic-input">
      <%= render partial: 'form', locals: { topic: @topic } %>
   </div>

</div>