<div class="header-about">
    <h3>
        Join our community!
    </h3>
    
    <h4>
        Who we are:
    </h4>
    
    <ul>
        <li>County-concious riders who understand the local scene's rules and regulations</li>
        <li>Helpful memebers willing to support others</li>
        <li>Knowledgable, Eco-Concious, and Motivated</li>
    </ul>
</div>