<div class="header-faq">
    <h2>Frequently Asked Questions</h2>
    <p>
        <strong>
            How do I Join?
        </strong>
    </p>
    
    <p>
        <em>
            <ol>
                <li>Click "Sign Up" at the top right of the page</li>
                <li>Make a profile</li>
                <li>Ride and connect with other riders</li>
            </ol>
        </em>
    </p>
    
    <p>
        <strong>
            What if I don't ride?
        </strong>
    </p>
    
    <p>
        <em>
            Ask yourself:
            <ol>
                <li>'Will I ride on the road*, or will I ride on the dirt*?'</li>
                <li>'Do I want to wear lycra/spandex*, or moto shorts/jersey*?'</li>
                <li>'Do I drink wine* or beer* on a Friday?'</li>
            </ol>
            <p>... if you answered <strong>YES</strong> to the first options of each, you'll ride road! You Spandex Warrior!</p>
            <p>otherwise, head to your local shop and pick up a Mountain bike and six-pack, sit back and sip a cold one on the trail.</p>
    
    
    <p>
        <strong>
            Where can I ride?
        </strong>
    </p>
    
    <p> 
        Road:
        <em>
            <ul>
                <li>Everywhere! BEWARE of cars, though.</li>
                <li>West Marin via Sir Francis Drake blvd. to CA hwy 1 in Olema, right to Pt. Reyes Station, then to Nicasio back onto SFD blvd.</li>
                <li>CA hwy 1 from Mill Valley to Muir Beach, to Mt Tamalpais, out to Stinson Beach, and back up Mt Tamalpais into MV</li>
            </ul>
        </em>
        
        Mountain:
        <em>
            <ul>
                <li>China Camp State Park ($3 fee)</li>
                <li>Tamarancho (Yearly Pass req.)</li>
                <li>Stafford Lake Bike Park ($5-10 for parking)</li>
            </ul>
        </em>
    </p>
</div>