<div class="header-welcome">
    <h2 class="index-header">
        Marin County Cycling
    </h2>
    
    <h3>
        Mission:
    </h3>
    <p>"We are the riders of Marin County, and we are going to ride until everyone is on a bike!"</p>
    
    
    <h3 class="login-signup">
        Login or Sign Up
    </h3>
    
    <div class="google-signin">
        
    </div>
</div>