<h2>All Posts</h2>

<% @posts.each { |p| %>

        <div class='index-post'>
            <p><%= p.created_at.strftime("%b %d, '%y") %></p>
            <p><%= link_to p.title, p %></p>
            <p><%= link_to truncate(p.body, length: 20), p %></p>
        </div>
<% } %>