<h2>All Posts</h2>

<% @posts.reverse.each { |p| %>

        <div class='index-post'>
            <p>
                <em><%= p.created_at.strftime("%b %d, '%y") %></em>
            </p>
            <p>
                <strong><%= link_to p.title, p , {:class => 'post-details'}%></strong>
            </p>
            <p>
                <%= link_to truncate(p.body, length: 20), p , {:class => 'post-details'}%>
            </p>
        </div>
<% } %>